.Panchang {
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  font-size: 26px;
}

h2 {
  font-style: italic;
  color: gray;
  font-size: 1em;
}
